.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
}

.intro {
  flex-grow: 1;
}

.intro h1 {
  text-align: left;
}

.cta {
  margin: 24px 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.social {
  flex-grow: 1;
}

.social,
.buttons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 8px;
}

@media(max-width: 788px) {
  .container {
    flex-direction: column;
  }

  .intro h1 {
    text-align: center;
  }

  .cta {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
}
