.bg {
  position: relative;
  min-height: 100vh;
  padding: 96px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: var(--content-width);
}

.inner {
  margin: 24px 0;
}
