.video img {
  width: 100%;
  /* margin-bottom: 10px; */
  /* margin-top: 10px; */
}

.video p {
  text-align: left;
  margin: 0;
  padding: 0;
}

.video div {
  margin: 0;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
}

.video {
  text-align: left;
  max-width: 200px;
}

