.sidebarContainer {
  display: flex;
  flex-direction: row;
}

.sidebarContainer nav {
  position: sticky;
  top: 0;
  align-self: flex-start;
  flex-shrink: 0;
  width: 300px;
  height: 100vh;
  overflow: auto;
  border-right: 1px solid var(--color-bg-highlight);
}

.sidebarContainer main {
  flex-grow: 1;
  align-self: stretch;
}

.sidebarContainer nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebarContainer nav li a {
  padding: 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  text-decoration: none;
  border-left: 4px solid transparent;
}

.sidebarContainer nav li a span {
  flex-grow: 1;
}

.sidebarContainer nav li a .disclosureIndicator {
  color: var(--color-fg-secondary);
}

.sidebarContainer nav > ul > li > a span {
  font-weight: bold;
}

.sidebarContainer nav li a:hover {
  background: var(--color-bg-lowlight);
}

.sidebarContainer nav li a.activeItem {
  background: var(--color-bg-highlight);
  border-left: 4px solid var(--color-fg-highlight);
}
