.sidebarContainer {
  display: flex;
  flex-direction: row;
}

.sidebarContainer nav {
  position: sticky;
  top: 0;
  align-self: flex-start;
  flex-shrink: 0;
  width: 300px;
  height: 100vh;
  overflow: auto;
  border-right: 1px solid var(--color-bg-highlight);
}

.sidebarContainer main {
  flex-grow: 1;
  align-self: stretch;
}

.sidebarContainer nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebarContainer nav li a {
  padding: 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  text-decoration: none;
  border-left: 4px solid transparent;
}

.sidebarContainer nav li a span {
  flex-grow: 1;
}

.sidebarContainer nav li a .disclosureIndicator {
  color: var(--color-fg-secondary);
}

.sidebarContainer nav > ul > li > a span {
  font-weight: bold;
}

.sidebarContainer nav li a:hover {
  background: var(--color-bg-lowlight);
}

.sidebarContainer nav li a.activeItem {
  background: var(--color-bg-highlight);
  border-left: 4px solid var(--color-fg-highlight);
}

.sidebarContainer header {
  margin: 48px 0;
}

.sidebarContainer header h1 {
  margin: 0;
  padding: 0;
  line-height: 56px;
}

.sidebarContainer nav header h1 {
  font-size: 32px;
}

.sidebarContainer nav header a {
  text-decoration: none;
}

.sidebarContainer nav > label {
  display: none;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  text-align: left;
}

.content h2::after {
  left: 0;
  transform: none;
}

@media(max-width: 900px) {
  .sidebarContainer {
    display: block;
  }

  .sidebarContainer nav {
    width: 100%;
    height: auto;
    z-index: 9000;
    border: none;
  }

  .sidebarContainer nav header {
    background: var(--color-fg-primary);
    color: var(--color-bg-primary);
    margin: 0;
  }

  .sidebarContainer nav header h1 {
    font-size: 24px;
  }

  .sidebarContainer nav > label {
    display: block;
    position: absolute;
    z-index: 9001;
    top: 12px;
    right: 12px;
  }

  .sidebarContainer nav li a .disclosureIndicator {
    color: var(--color-bg-secondary);
  }

  .menu {
    background: var(--color-fg-primary);
    color: var(--color-bg-primary);
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }
}
